# ── Frontend Environment Variables ──

# URL du backend API (Railway en prod, localhost en dev)
NEXT_PUBLIC_API_URL=http://localhost:4000

# URL publique du frontend (pour SEO, sitemap, partage)
NEXT_PUBLIC_BASE_URL=https://izy.store

# Google OAuth Client ID (pour le login Google)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=407260864252-g210ohg6n18korm8bl25nst325gmgra4.apps.googleusercontent.com
